---
layout: page
title: "Journal"
description: ""
active: journal
header-img: "img/blank-bg.jpg"
---

<head>
<link rel="stylesheet" href="{{ site.baseurl }}/css/notes.css" media="screen" />
</head>

<body class="notes">
<div class="archive">
  <h1 class="archive-title" style="display:inline-block;"> JOURNAL </h1>
  <p>
    <br>
  </p>
  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">5/21/2022|</span><span style="font-size: 100%;"> Food Based Culture - Opinion Piece</span></summary>
    <p>      
      Having only lived in America I would say that the culture here is not very food dependant. What I mean by this is that the relationship Americans have with food 
      is a negative one. Take for example grocery shopping, it is seen as a chore where you go to a massive warehouse store with a prepared list of items to purchase and you
      spend an hour or two mazing around the store trying to find what you need until you become familiar with the layout. Also important but a slight tangent is that these 
      warehouse stores are built on a global infrastructure that has exponential repercussions and dangers and is the exact opposite of what I advocate for which is local 
      closed systems. This example of grocery shopping contrasts other cultures which I would call more food based meaning their lives revolves more around food where they 
      would go shopping at the local market and interact with vendors and shoppers, becoming more involved in the food infrastructure. For this system to work of course
      you need more local economy because individuals needs to be able to be able to create their own farms or businesses. The previous problem regards more of the public 
      realm while Americans also have a very poor personal relationship with food which begins to overlap food culture and food justice. This problem is seen in the rush that
      Americans are often in when eating resulting in them consuming fast food, I myself tend to never spend more than 15 minutes eating which is a result of the current culture
      which is profession based and individualistic. What I am trying to say is that food brings people together, food based culture creates more interactive society, food based
      culture reduces food injustice, food based culture makes people happier. Unfortunately this is greater than architecture and relies heavily on policy but architecture can 
      still play a significant role. 
    </p>
  </details>

  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">5/23/2022|</span><span style="font-size: 100%;"> Critique of Modern Lighting Design - Opinion Piece</span></summary>
    <p>      
      Emerging technology and specialization in lighting design, specifically in schools are focused on enforcing the existing American education system which we know
      is failing. These lighting systems and designers and often the teachers at these schools follow the ideology that purely diffuse light provides the best learning 
      environment for children. This creates space that is very static for the users and you can imagine the type of learning this enforces which is a group of students sitting
      down for hours a day and then complaining about how much they hate school for years on end. Whats truly strange is how we expect them to enjoy these places. Such practices
      are based upon control, repetition and efficiency in a way where the school is looked at as a machine which is an idea we have moved past in many other typologies. My real
      gripe with these spaces is that they do not provide opportunity for exploration, there is no spontaneity or stimulation. Every day is repeated over and over again. It is
      obvious that kids, people, living things are not meant to be sedentary physically or mentally yet the space everywhere around us does not help us with that. 
    </p>
  </details>

  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">5/24/2022|</span><span style="font-size: 100%;"> (SUPER)Market - Design Concept</span></summary>
    <p>      

    </p>
  </details>

  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">7/8/2022|</span><span style="font-size: 100%;"> People Make Place</span></summary>
    <p>      
      As I find out more about ecological living infrastructure and self sufficient systems the more I realize that basically all of this has been done before, for decades all around
      the world. The one thing that strikes me when seeing these already existing systems is the architecture which is often old and traditional in design. However these places are thriving
      and vibrant where just the sight of them creates a jealousy of community and living conditions. This reminds me of the saying "it is not the clothes that makes the person but the person 
      that makes the clothes" where in this case the people living in the place make it vibrant. It is not as though these people are any more special than those outside but that the self
      sufficient lifestyle and act of gardening and working outside creates a vibrance. This comes to my mind as I begin to question what is architecture when I see makeshift structure but also 
      the occupants living fulfilling lives. This has lead me to question less what architecture is and more of what architecture can be, how can architecture create even better conditions and start
      to help support the self sustaining systems. Thermal mass can be used selectively to create more dry microclimates allowing for specific plant species to be grown. The permaculture systems
      extending inside of the built environment.
    </p>
  </details>

  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">7/8/2022|</span><span style="font-size: 100%;">Humanure and Social Stigma</span></summary>
    <p>      
      In my previous entry I critiqued modern lighting design because of its creation of a static and sterile environments. I also believe we need to move away from more literally sterile
      environments in terms of social stigmas. I am not suggesting lest regulation of pathogenic or dangerous processes which are scientific but instead socially creates sterilization like
      that around humanure. With our society being so ostracizing it's no surprise that these stigmas exist but understanding that these are just socially created and actually blocking us from
      progression is a step in reshaping society. Projects like the Kailash ecovillage employ ecosanitation systems and organizations like the Peace Corps use these systems to create more
      sustainable and secure living. 
    </p>
  </details>

  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">11/3/2022|</span><span style="font-size: 100%;">Making Happy Things</span></summary>
    <p>      
      When looking at architecture visualization I notice the trend that all works showcase the architecture as this sublime object. It is lifeless, no matter
      how many imperfections you add and empty no matter how many props you add. While the restrictions of photorealistic rendering are certainly partially responsible
      I also believe that this is how we perceive much of architecture, almost as a holy object. I bring this to attention because as humans we want to feel happy, we 
      are not perpetually in a state of contemplation that requires sublimeness and as such we should create architecture with the intention improve peoples happiness.
      There is no doubt I find the weight of stone an concrete to be something intrinsically wonderful but it should not make up our everyday environment. 
    </p>
  </details>

  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">11/6/2022|</span><span style="font-size: 100%;">Obsession With Identity</span></summary>
    <p>    
      In the present day people are obsessed with their identity caring more than ever what other people think caused by social media, social environment and
      who knows what else. This is one thing that I think is deteriorating the overall happiness of people as they chase a unachievable goal. From an
      observatory stance many people are angered by those who do not fit into their social bubble, as though our differences are an insult to those around us.
      Quite ironic as we enter a time of "acceptance" yet those who are accepted only fit a strict criteria that I have observed to be quite extremist and inconsiderate.
    </p>
  </details>

  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">11/28/2022|</span><span style="font-size: 100%;">Poverty not Inequality</span></summary>
    <p>    
      In my city we talk about inequality because there is a lot of it. We talk about the rich white people living in their rich white neighborhoods and the poor
      people of color living in their poor neighborhoods. We talk about the historical legacy that has segregated the city by race and government policies that enforced it.
      We talk about how to break of these neighborhoods of rich white people and allow people of color and lower income to move in. But while we are so focused on how the past 
      put us in the present we lose sight of the true disease which is poverty. We think if we fix inequality we can fix poverty but the reality is that the consequences of 
      inequality were upon us long ago and now we must stop the bleeding from the wounds it left. Understanding the root of our situation is essential to plan better in the future
      but to stop the bleeding you have to stop poverty. Social equality will not stop the bleeding and financial equality is a dystopian ideal. Poverty is a consequence of social
      inequality but the wound has already been made and time cannot be turned back to undo what has been done so you must stop the bleeding, the consequences, poverty.
    </p>
  </details>

  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">12/09/2022|</span><span style="font-size: 100%;">Why is the US so unhealthy?</span></summary>
    <p>   
      Americans are clearly unhealthy. This is due to a lack of physical exercise and poor diet. 
        Lack of exercise comes from the lack of natural integration of physicality into society. The 
      most basic forms of physical exercise like walking, running or cycling have been replaced with cars in vehicular cities, elevators in buildings and ugly stairs, lack of outdoor corridors. 
      gyms are everywhere in america yet we are the unhealthiest, quite ironic. 
        Poor diet comes from the food culture which is all about fast and cheap. Monopolies dominate the national market with the help of government crop subsidies creating a market of food
      where highly processed, unhealthy, and plastic packaged food is everywhere. Despite income people are eating lots of fast food because this is the food culture we have. The difference
      comes in the aftermath where income is the largest influence on health due to lack of medical treatment and stress. 
      
      At first i was interested in food sovereignty because i want people to have a good relationship with food where they can make good and healthy food and use it as a 
      point of enjoyment to destress instead of the quick and cheap mentality. However after looking at the data i found that peoples health is most influenced by income 
      indicating that stress is a large factor in americas sickness. 

      Americans are unhealthy, japan is healthy. japan has a higher poverty rate than america. 90% of japan lives in urban areas, 83% in usa. 70% of japan owns a car, 92% of americans own a car.
      france, switzerland, germany all eat high amounts of bread and cheese similar to america but are much healthier.

      Americans are more obese than japanese people and that can only come from 1 thing which is eating more and exercising less.
      American foods are low in Nutritional Density and high in 
      calories. 
      
      Looking at the Bloomberg global health index the us falls around 35th. Japan falls at 4th but has a higher poverty rate. Americans don't have a food culture, so they developed on that fits into 
      the existing society which meant fast and cheap food. 

      If you have no time and money you go to the grocery store and buy whats cheap like bread and deli meat and make sandwiches for you and your kids because its what you know.
      You wouldn't think to go buy a can of garbanzo beans or tofu because you aren't familiar with making food with those even if they are cheaper. You may buy less fresh produce
      because they can go bad if not cooked in time unlike processed food. 

      IF PEOPLE KNEW HOW TO MAKE FOOD GOOD TASTING, HEALTHY, CHEAP, AND FAST, america would be super healthy. But we don't. We are overexposed to these super low nutrition, high calorie 
      foods so that it makes up our whole food culture. 

      You need fresh produce to be easily available, takes like 10 minutes to get and is cheap that way people can but in small quantities like a market in other countries. People
      buy non-perishables like canned beans and dry grains to keep at home and go out to buy produce when needed. They don't keep a ton of plastic packaged processed foods in the house.

      Unhealthy lifestyle is a product of american culture. 

      The US wasn't always so unhealthy. however increases in office jobs and sedentary lifestyle have cause people to have less physical activity throughout the day and increase
      in processed foods through government subsidies and corporate monopolies have made unhealthy food very convenient. 
      The people most affected by this are those that don't have the time and money to step outside of these structures and are forced to follow the corporate monopolies.
      
    </p>
  </details>

  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">12/11/2022|</span><span style="font-size: 100%;">We Are All Human</span></summary>
    <p>    
      We are constantly putting forward the idea that there are so many diverse communities in the United States and that we are all so different. Of course it is true that we come from different
      backgrounds but that doesn't make us any less human. We are all the same amount human as the person next to us which means we all function under intrinsic human nature. Such things as shelter,
      natural light, green and blue space, good food, fresh air, family, free time, open space, human interaction. These are all very fundamental things yet are very underappreciated in the United States.
      We continue to divide ourselves in hopes of celebrating our differences when we can't even celebrate our similarities. Children function without all of these concepts of social division, having worked
      around large groups of children from ages 4-18 the younger they are the more accepting they are. As you age you develop prejudice which is constructed by a majority of external sources opposed to 
      personally constructed.
    </p>
  </details>

  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">12/12/2022|</span><span style="font-size: 100%;">Social Media Personalities</span></summary>
    <p>    
      So many people are consuming social media for hours a day, often very similar topics. Because the content you consume is driven by algorithms it is a form of predictable randomness,
      if you search for X you will get ads for Y etc. This means that many people fall into similar categories within the algorithm and view the same content. There are also other factors
      that go into what you see on social media but the takeaway is that we are all consuming very similar content. I would hypothesize that this creates people with very similar personalities,
      more so than ever before due to the hours spent on social media. People have less time and opportunities to find personal interests that would occur from random events due to the 
      predictable randomness of social media targeting.
    </p>
  </details>

  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">12/19/2022|</span><span style="font-size: 100%;">Equality of Opportunity and Equality of Outcomes</span></summary>
    <p>    
      Health is a bit of an unusual subject compared to most topics because of where it falls in terms of equality. Most inequalities are traceable to inequality in opportunity that
      creates and inequality in outcome. This is the case if we are talking about health concerns with air quality, access to green space etc... because these are based on income. However 
      in terms of food health there is often inequality of outcome when there is equality of opportunity. Basically people have equal choice to eat healthy but choose not to. Yet you can 
      still NOT place blame on the individual as what causes someone to choose healthy or unhealthy foods is a function of their personality which has been shaped by society 
      and culture since they were born. This would mean that inequality of food health outcomes is a result of inequality of your social environment. For example if you grew up
      eating unhealthy in school and at home you are likely to continue those habits, and the only way to break out of them is if you have time and money. This essentially creates
      cycles of unhealthy eating in family generations. In order to break this cycle it is best to start with youth and build their food culture through education.
    </p>
  </details>

  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">12/23/2022|</span><span style="font-size: 100%;">Changing Culture</span></summary>
    <p>    
      In regards to food culture, how and what people eat etc... there are often many reasons to change. In the U.S. many people have unhealthy food cultures that
      kills them and degrades their quality of life. This is often controlled by large corporate monopolies and the government creating a system that is very difficult
      to break out of. In order to change culture you need to treat it like selling a product to a client. It needs to be better than the current standard in terms of 
      cost and quality. Not only that but it needs to be heavily advertized and promoted to override the current food culture. 
    </p>
  </details>
  
  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">12/23/2022|</span><span style="font-size: 100%;">Representing Architecture and Realizing Fantasy</span></summary>
    <p>    
      My goal with architecture is to make happy places, where you can just walk through and feel awe and beauty in space. My dilemma is that architecture 
      is visualized using complex 3D models always with photorealistic rendering styles. We are trying to recreate real life with our rendering. However the current
      state of life is not very ideal, quite the opposite. Current life for most people, especially in urban spaces, is dystopian. You go outside and feel nothing,
      the space around you is meaningless, all part of the concrete void that we all operate in. LIFE IS MUNDANE. 

      So with this being the case why would we want to visualize our projects in these environments? You can argue that it is because this is our reality but the goal of 
      the projects is to change this reality, so why do we show them in an unchanged reality? Looking at the artwork of Senbon Umishima, especially her exhibit "Rooms" there 
      is a overwhelming sense of life, vibrance and joy. This is the feeling that the urban environment can have. When you wake up you should feel grateful and amazed to be 
      in the space you exist. 

      I cited Senbon Umishimas work because of it's amazing atmosphere and how architecture can have the same feelings. However much of Senbons work depend on color for their 
      strong feelings, if you were to put a black and white filter on them they lose a lot of vibrance. This seems to discredit the applicability of such 2D fantasy environments 
      into real world spaces. What I now am trying to understand is how to bring the joyful emotions of fantasy art into real world space. 

      The first lesson that can be taken from these fantastical artworks is that they are busy and dynamic. The urban environment is glass and concrete, very little in 
      the way of dynamics. Umishimas art often has many elements on just a single wall with detail work patterns and color. On top of that there is clear signs of life,
      people make the space their own.

      The second lesson is the personalization of space. Space that tells a story and has character. When looking at Umishimas art you are looking into the life of each character. Every space they occupy is 
      filled with personalization. This could be musical instruments, pillows, plants, pets, photos or anything that represents the character. In reality we push against
      this in the urban space, placing laws that stop space from being personalized to a business or community. We try to be uniform. In many large cities Japan and China towns
      often have a glimpse of this fantastical atmosphere because they have character. Most of the urban environment has not character. 

    </p>
  </details>

  <details>
    <summary><span style="font-size: 125%; font-weight: bold;">12/23/2022|</span><span style="font-size: 100%;">Minimalism is Killing Us</span></summary>
    <p>    
      After writing my last entry on fantastical environments I realize that our uniformity and minimalism is whats killing our spaces. None of our spaces have
      a story or character. You don't stop to think about a space because they're all the same concrete glass, modern buildings. Any divergence from minimalism
      is seen as dirt and clutter. We live in a society of order when we are all people, not machines who function without mess.
    </p>
  </details>

<!--<div style="font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; display:inline-block;margin-left:.5em;">
    Browse by <a href="{{ site.baseurl }}/notes/category/">Category</a> or <a href="{{ site.baseurl }}/notes/tag/">Tag</a>
  </div> -->
</div>

<section class="section--postsWrapper">
  <div class="container">
    <div class="blockGroup">
      <ul class="blockGroup-list">

{% for post in paginator.posts %}


 {% assign post = site.posts.first %}
  {% assign content = post.content %}
  
<li class="block">
<div class="postArticle-wrapper">

<div class="post-preview" style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #530720;">
    
<a href="{{ post.url | prepend: site.baseurl }}">
        {% if post.image.feature %}
	<img src="{{ site.baseurl }}/img/postcover/{{ post.image.feature }}">
	{% endif %}
 
 
        <p class="post-title" style="font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 16px; margin-left: 1em;"> &#9658; {{ post.title }}
        </p>
</a>
        {% if post.subtitle %}
        <p class="post-subtitle" style="font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 12px; margin-left: 1em;"> {{ post.subtitle }}</p>
        {% endif %}
    
    <p class="post-meta" style="font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 10px; margin-left: 1em;"> Posted on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>

</div>
</li>
 {% endfor %}
<p>&nbsp;</p>
      </ul>
    </div>
  </div>
</section>


<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager" style="font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;" >
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}

<span class="button-height"> Page {{paginator.page}} of {{paginator.total_pages}}</span>

    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

</body>
